@model IndexVM


  <header class="masthead" style=" background-image: url(@Model.Header.PhotoURL);">
            <div class="container">
                <div class="masthead-subheading">@Model.Header.SubTitle</div>
                <div class="masthead-heading text-uppercase">@Model.Header.Title</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
            </div>
        </header>


        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <div class="row text-center">
            @foreach (var item in Model.Services)
            {
                                 <div class="col-md-4">

                                     <div  style="position:relative; background-color" class="icon-service">
                                              <span class="fa-stack fa-4x">
                                           
                                               <i style="color:white; margin:-10px;padding:40px;border-radius:100%;background-color:#f6cb36;" class="@item.Icon"></i>
                                        </span>
                                              </div>
                                        <h4 class="my-3">@item.Title</h4>
                                        <p class="text-muted">@item.Description</p>
                                              
                                   
                                   
                                </div>
            }


                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->

        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <div class="row">

            @foreach (var portfolio in Model.Portfolios)
            {
                string popBar = "portfolioModal";
                            <div class="col-lg-4 col-sm-6 mb-4">
                                <!-- Portfolio item 1-->
                                <div class="portfolio-item">
                                    <a class="portfolio-link" data-bs-toggle="modal" href="#@popBar@portfolio.ID">
                                        <div class="portfolio-hover">
                                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img class="img-fluid" src="@portfolio.PhotoURL" alt="..." />
                                    </a>
                                    <div class="portfolio-caption">
                                        <div class="portfolio-caption-heading">@portfolio.Name</div>
                                        <div class="portfolio-caption-subheading text-muted">@portfolio.Category.CategoryName</div>
                                             <div class="portfolio-caption-subheading text-muted">Client: @portfolio.Client</div>
                                    </div>
                                </div>
                            </div>
            }
                  
                </div>
            </div>
        </section>
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <ul class="timeline">
            @{
                int count = 1;
            }

                        @foreach (var item in Model.Abouts)
                        {
           
                                <li class="@(count%2 == 0 ? "timeline-inverted" : null)">
                                <div class="timeline-image"><img class="rounded-circle img-fluid"  style="width:100%; height:100%;" src="@item.PhotoURL" alt="..." /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                            <h6>@item.PublishDate.ToString("MMMM dd")</h6>
                                    <h2 class="subheading">@item.Title</h2>
                                </div>
                                <div class="timeline-body"><p class="text-muted">@item.Description</p></div>
                            </div>
                </li>
                count++;
            }
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br>
                                Of Our
                                <br>
                                Story!
                            </h4>
                        </div>
                    </li>
                 
                </ul>
            </div>
        </section>
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <div class="row">
                    @foreach (var item in Model.Teams)
                    {
                          <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="@item.PhotoURL" alt="..." />
                            <h4>@item.Name</h4>
                            <p class="text-muted">@item.Profession</p>
                            <a class="btn btn-dark btn-social mx-2" href="@item.TwitterURL" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="@item.FacebookURL" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="@item.LinkedinURL" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    }
                  
                
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
                </div>
            </div>
        </section>
        <!-- Clients-->
        <div class="py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/assets/img/logos/microsoft.svg" alt="..." aria-label="Microsoft Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/assets/img/logos/google.svg" alt="..." aria-label="Google Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/assets/img/logos/facebook.svg" alt="..." aria-label="Facebook Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/assets/img/logos/ibm.svg" alt="..." aria-label="IBM Logo" /></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form method="post" id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="row align-items-stretch mb-5">

                        <div class="col-md-6">

                            <div class="form-group">
                                <!-- Name input-->
                                <input class="form-control" name="Name" id="name" type="text" placeholder="Your Name *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <div class="form-group">
                                <!-- Email address input-->
                                <input class="form-control" name = "Email" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" />
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <div class="form-group mb-md-0">
                                <!-- Phone number input-->
                                <input class="form-control" name="PhoneNumber" id="phone" type="tel" placeholder="Your Phone *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <!-- Message input-->
                                <textarea class="form-control" name="Message" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->

                        <div class="text-center text-white mb-3">
                            <input  id="submitButton" class="text-center text-white mb-3 btn-xl text-uppercase" style="background: 
#f6cb36;" type = "submit" value= "Send Message" />
                        </div>

                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->

                </form>
            </div>
        </section>

@foreach (var item in Model.Portfolios)
{

    string popBar = "portfolioModal";

        <div class="portfolio-modal modal fade" id="@popBar@item.ID" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">@item.Name</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="@item.PhotoURL" alt="..." />
                                    <p>@item.Description</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                        @item.Client
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                        @item.Category.CategoryName
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

}